html, body{
	margin-left: 10%;
	margin-right: 10%;
	font-family: lato, helvetica, arial, sans-serif;
	background-color: #f3f3f3;
	padding-top: 30px;
	color: black;
}

h1, h2{
	font-family: rokkit, helvetica, arial, sans-serif;
	color: #444444;
}

.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#name {
	float: left;
	padding-left: 20px;
}

#contactDetails {
	float: right;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

/* Informações sobre a pessoa */

.mainDetails {
	border-bottom: 2px solid #cf8a05;
	padding-bottom: 30px;
}

img{
	border-radius: 100px;
}

#contactDetails ul{
	list-style: none;
}

#contactDetails ul li a{
	text-decoration: none;
	color: #181818;
}

.sectionTitle h1, h2{
	color: #cf8a05;
}

.nome{
	margin-bottom: 0px;
}
.subnome{
	margin-top: 10px;
}

/*		MAIN	 */

#mainArea{
	color: #444444;
}

section{
	border-bottom: 1px solid #dedede;
}

h2{
	color: #444444;

}

.keySkills{
	list-style: none;
	column-count: 3;
}

.subDetails{
	font-style: italic;
}